<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>0bg_00000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1400,480}</string>
			<key>spriteSourceSize</key>
			<string>{1400,480}</string>
			<key>textureRect</key>
			<string>{{2,2},{1400,480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BallGraphic0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,-9}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{57,54}</string>
			<key>textureRect</key>
			<string>{{1310,683},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BallGraphic0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,54}</string>
			<key>spriteSourceSize</key>
			<string>{57,54}</string>
			<key>textureRect</key>
			<string>{{1450,674},{57,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BallSplashMC0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{106,-72}</string>
			<key>spriteSize</key>
			<string>{54,53}</string>
			<key>spriteSourceSize</key>
			<string>{240,211}</string>
			<key>textureRect</key>
			<string>{{1254,683},{54,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BallSplashMC0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{45,-30}</string>
			<key>spriteSize</key>
			<string>{162,144}</string>
			<key>spriteSourceSize</key>
			<string>{240,211}</string>
			<key>textureRect</key>
			<string>{{1565,209},{162,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BallSplashMC0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{28,0}</string>
			<key>spriteSize</key>
			<string>{212,205}</string>
			<key>spriteSourceSize</key>
			<string>{240,211}</string>
			<key>textureRect</key>
			<string>{{1636,2},{212,205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BallSplashMC0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{230,202}</string>
			<key>spriteSourceSize</key>
			<string>{240,211}</string>
			<key>textureRect</key>
			<string>{{1404,2},{230,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,0}</string>
			<key>spriteSize</key>
			<string>{35,50}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{1088,551},{35,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{39,49}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{2005,661},{39,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{49,49}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{116,687},{49,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{44,50}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{1509,498},{44,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{217,687},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{1609,720},{46,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{267,687},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{1162,690},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{1509,690},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{46,49}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{1926,721},{46,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{2,701},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-1}</string>
			<key>spriteSize</key>
			<string>{39,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{640,682},{39,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-1}</string>
			<key>spriteSize</key>
			<string>{38,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{317,687},{38,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-1}</string>
			<key>spriteSize</key>
			<string>{44,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{788,581},{44,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{52,701},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{1682,704},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{1732,704},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,0}</string>
			<key>spriteSize</key>
			<string>{32,50}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{1212,690},{32,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,49}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{167,687},{48,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{950,718},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{1000,718},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{1559,720},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-1}</string>
			<key>spriteSize</key>
			<string>{44,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{1974,721},{44,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblemsv20023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{43,48}</string>
			<key>spriteSourceSize</key>
			<string>{49,50}</string>
			<key>textureRect</key>
			<string>{{852,724},{43,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Goals0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{112,145}</string>
			<key>spriteSourceSize</key>
			<string>{112,145}</string>
			<key>textureRect</key>
			<string>{{1265,484},{112,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ShadowMC0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,9}</string>
			<key>spriteSourceSize</key>
			<string>{57,9}</string>
			<key>textureRect</key>
			<string>{{276,737},{57,9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ShadowMC_or0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,11}</string>
			<key>spriteSourceSize</key>
			<string>{57,11}</string>
			<key>textureRect</key>
			<string>{{217,737},{57,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ShadowMC_pi0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,11}</string>
			<key>spriteSourceSize</key>
			<string>{57,11}</string>
			<key>textureRect</key>
			<string>{{485,733},{57,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>SuperBallSplashMC0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{29,-29}</string>
			<key>spriteSize</key>
			<string>{9,9}</string>
			<key>spriteSourceSize</key>
			<string>{70,67}</string>
			<key>textureRect</key>
			<string>{{2029,32},{9,9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>SuperBallSplashMC0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{17,-17}</string>
			<key>spriteSize</key>
			<string>{33,33}</string>
			<key>spriteSourceSize</key>
			<string>{70,67}</string>
			<key>textureRect</key>
			<string>{{788,631},{33,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>SuperBallSplashMC0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,-12}</string>
			<key>spriteSize</key>
			<string>{46,43}</string>
			<key>spriteSourceSize</key>
			<string>{70,67}</string>
			<key>textureRect</key>
			<string>{{1358,724},{46,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>SuperBallSplashMC0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{62,59}</string>
			<key>spriteSourceSize</key>
			<string>{70,67}</string>
			<key>textureRect</key>
			<string>{{359,680},{62,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>SuperBallSplashMC0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,67}</string>
			<key>spriteSourceSize</key>
			<string>{70,67}</string>
			<key>textureRect</key>
			<string>{{683,674},{70,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>SuperBallSplashMC0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{11,-11}</string>
			<key>spriteSize</key>
			<string>{45,45}</string>
			<key>spriteSourceSize</key>
			<string>{70,67}</string>
			<key>textureRect</key>
			<string>{{897,724},{45,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>SuperBallSplashMC0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{11,-10}</string>
			<key>spriteSize</key>
			<string>{45,47}</string>
			<key>spriteSourceSize</key>
			<string>{70,67}</string>
			<key>textureRect</key>
			<string>{{1509,550},{45,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>SuperBallSplashMC0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15,-11}</string>
			<key>spriteSize</key>
			<string>{41,47}</string>
			<key>spriteSourceSize</key>
			<string>{70,67}</string>
			<key>textureRect</key>
			<string>{{2005,612},{41,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WavesMC0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{65,-64}</string>
			<key>spriteSize</key>
			<string>{47,38}</string>
			<key>spriteSourceSize</key>
			<string>{166,158}</string>
			<key>textureRect</key>
			<string>{{755,725},{47,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WavesMC0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{47,-47}</string>
			<key>spriteSize</key>
			<string>{86,69}</string>
			<key>spriteSourceSize</key>
			<string>{166,158}</string>
			<key>textureRect</key>
			<string>{{1088,614},{86,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WavesMC0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{22,-27}</string>
			<key>spriteSize</key>
			<string>{128,114}</string>
			<key>spriteSourceSize</key>
			<string>{166,158}</string>
			<key>textureRect</key>
			<string>{{958,551},{128,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WavesMC0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{20,-14}</string>
			<key>spriteSize</key>
			<string>{139,133}</string>
			<key>spriteSourceSize</key>
			<string>{166,158}</string>
			<key>textureRect</key>
			<string>{{1718,473},{139,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WavesMC0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{14,-7}</string>
			<key>spriteSize</key>
			<string>{149,143}</string>
			<key>spriteSourceSize</key>
			<string>{166,158}</string>
			<key>textureRect</key>
			<string>{{1879,325},{149,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WavesMC0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-3}</string>
			<key>spriteSize</key>
			<string>{159,151}</string>
			<key>spriteSourceSize</key>
			<string>{166,158}</string>
			<key>textureRect</key>
			<string>{{1404,206},{159,151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WavesMC0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{166,158}</string>
			<key>spriteSourceSize</key>
			<string>{166,158}</string>
			<key>textureRect</key>
			<string>{{1850,165},{166,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>WavesMC0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{95,-89}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{166,158}</string>
			<key>textureRect</key>
			<string>{{2,2},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arrow_icon0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{1110,685},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{95,51}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{1379,621},{95,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{95,51}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{1379,621},{95,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-1}</string>
			<key>spriteSize</key>
			<string>{96,50}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{1254,631},{96,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-1}</string>
			<key>spriteSize</key>
			<string>{96,50}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{1254,631},{96,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-1}</string>
			<key>spriteSize</key>
			<string>{96,48}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{852,674},{96,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-1}</string>
			<key>spriteSize</key>
			<string>{96,48}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{852,674},{96,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-1}</string>
			<key>spriteSize</key>
			<string>{97,49}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{958,667},{97,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-1}</string>
			<key>spriteSize</key>
			<string>{97,49}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{958,667},{97,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{101,48}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{1583,619},{101,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{101,48}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{1583,619},{101,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-2}</string>
			<key>spriteSize</key>
			<string>{95,49}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{755,674},{95,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-2}</string>
			<key>spriteSize</key>
			<string>{95,49}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{755,674},{95,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-1}</string>
			<key>spriteSize</key>
			<string>{96,48}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{1352,674},{96,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-1}</string>
			<key>spriteSize</key>
			<string>{96,48}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{1352,674},{96,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-2}</string>
			<key>spriteSize</key>
			<string>{97,49}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{1583,669},{97,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_fire0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-2}</string>
			<key>spriteSize</key>
			<string>{97,49}</string>
			<key>spriteSourceSize</key>
			<string>{101,51}</string>
			<key>textureRect</key>
			<string>{{1583,669},{97,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bg0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{10,10}</string>
			<key>textureRect</key>
			<string>{{2017,32},{10,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>btn_bg0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{114,114}</string>
			<key>spriteSourceSize</key>
			<string>{114,114}</string>
			<key>textureRect</key>
			<string>{{1729,209},{114,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>btn_bg_white0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,64}</string>
			<key>spriteSourceSize</key>
			<string>{128,64}</string>
			<key>textureRect</key>
			<string>{{1797,612},{128,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>help0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{206,95}</string>
			<key>spriteSourceSize</key>
			<string>{206,95}</string>
			<key>textureRect</key>
			<string>{{2,484},{206,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>help0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{206,95}</string>
			<key>spriteSourceSize</key>
			<string>{206,95}</string>
			<key>textureRect</key>
			<string>{{210,484},{206,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>help0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{206,95}</string>
			<key>spriteSourceSize</key>
			<string>{206,95}</string>
			<key>textureRect</key>
			<string>{{418,484},{206,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>help0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{206,95}</string>
			<key>spriteSourceSize</key>
			<string>{206,95}</string>
			<key>textureRect</key>
			<string>{{626,484},{206,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>icon_ball0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{578,682},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>icon_ball0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{423,683},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>icon_ball20000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,62}</string>
			<key>spriteSourceSize</key>
			<string>{63,62}</string>
			<key>textureRect</key>
			<string>{{1797,678},{63,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>icon_ball20001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,62}</string>
			<key>spriteSourceSize</key>
			<string>{63,62}</string>
			<key>textureRect</key>
			<string>{{1862,678},{62,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>infoPanel0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{289,65}</string>
			<key>spriteSourceSize</key>
			<string>{289,65}</string>
			<key>textureRect</key>
			<string>{{834,484},{289,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>key_hint0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,28}</string>
			<key>spriteSourceSize</key>
			<string>{28,28}</string>
			<key>textureRect</key>
			<string>{{2018,2},{28,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particleStar0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{1450,730},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shoot_icon0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,48}</string>
			<key>spriteSourceSize</key>
			<string>{64,48}</string>
			<key>textureRect</key>
			<string>{{485,683},{64,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{67,-81}</string>
			<key>spriteSize</key>
			<string>{46,44}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1310,724},{46,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{65,-77}</string>
			<key>spriteSize</key>
			<string>{51,50}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1057,685},{51,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{50,-46}</string>
			<key>spriteSize</key>
			<string>{76,107}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1927,612},{76,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{69,-81}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1406,724},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{54,-68}</string>
			<key>spriteSize</key>
			<string>{72,69}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1509,619},{72,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{34,-56}</string>
			<key>spriteSize</key>
			<string>{102,100}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{474,581},{102,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{32,-57}</string>
			<key>spriteSize</key>
			<string>{103,99}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{578,581},{103,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{26,-42}</string>
			<key>spriteSize</key>
			<string>{112,118}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{2,581},{112,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{19,-34}</string>
			<key>spriteSize</key>
			<string>{138,128}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1125,484},{138,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{22,-35}</string>
			<key>spriteSize</key>
			<string>{141,140}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1879,470},{141,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,-37}</string>
			<key>spriteSize</key>
			<string>{151,137}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1565,355},{151,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-32}</string>
			<key>spriteSize</key>
			<string>{150,137}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1404,359},{150,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{20,-40}</string>
			<key>spriteSize</key>
			<string>{140,123}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1556,494},{140,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{29,-57}</string>
			<key>spriteSize</key>
			<string>{126,104}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{116,581},{126,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{33,-55}</string>
			<key>spriteSize</key>
			<string>{103,91}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{683,581},{103,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{27,-62}</string>
			<key>spriteSize</key>
			<string>{113,97}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{359,581},{113,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{40,-51}</string>
			<key>spriteSize</key>
			<string>{97,94}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1698,608},{97,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{25,-28}</string>
			<key>spriteSize</key>
			<string>{122,121}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{834,551},{122,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,-12}</string>
			<key>spriteSize</key>
			<string>{148,146}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1729,325},{148,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{165,161}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1850,2},{165,161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{34,-55}</string>
			<key>spriteSize</key>
			<string>{113,104}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{244,581},{113,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{26,-44}</string>
			<key>spriteSize</key>
			<string>{128,121}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1379,498},{128,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{100,-123}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{2,2},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{100,-123}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{2,2},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{100,-123}</string>
			<key>spriteSize</key>
			<string>{1,1}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{2,2},{1,1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{52,-66}</string>
			<key>spriteSize</key>
			<string>{76,74}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1176,614},{76,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{65,-77}</string>
			<key>spriteSize</key>
			<string>{51,50}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1057,685},{51,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{50,-46}</string>
			<key>spriteSize</key>
			<string>{76,107}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1927,612},{76,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{69,-81}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{1406,724},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>teleprte0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{70,-82}</string>
			<key>spriteSize</key>
			<string>{41,42}</string>
			<key>spriteSourceSize</key>
			<string>{165,175}</string>
			<key>textureRect</key>
			<string>{{804,725},{41,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>gameplay.png</string>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>textureFileName</key>
		<string>gameplay.png</string>
	</dict>
</dict>
</plist>
