<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Emblems0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,0}</string>
			<key>spriteSize</key>
			<string>{42,60}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{980,88},{42,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-1}</string>
			<key>spriteSize</key>
			<string>{46,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{799,101},{46,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{59,59}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{198,94},{59,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{51,60}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{134,158},{51,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{259,94},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-1}</string>
			<key>spriteSize</key>
			<string>{54,59}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{495,154},{54,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{319,94},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{379,94},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{439,94},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-1}</string>
			<key>spriteSize</key>
			<string>{55,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{438,154},{55,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{499,94},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-1}</string>
			<key>spriteSize</key>
			<string>{46,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{838,162},{46,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-1}</string>
			<key>spriteSize</key>
			<string>{46,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{886,162},{46,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-1}</string>
			<key>spriteSize</key>
			<string>{54,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{198,155},{54,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{559,101},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{619,101},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{679,101},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,0}</string>
			<key>spriteSize</key>
			<string>{38,60}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{984,150},{38,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{57,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{379,154},{57,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{739,101},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{259,154},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{319,154},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{52,58}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{619,161},{52,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Emblems0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-2}</string>
			<key>spriteSize</key>
			<string>{51,56}</string>
			<key>spriteSourceSize</key>
			<string>{59,60}</string>
			<key>textureRect</key>
			<string>{{785,161},{51,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>InGameMusicButton0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,41}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{91,168},{40,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>InGameMusicButton0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,40}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{46,210},{41,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>InGameMusicButton0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,40}</string>
			<key>spriteSourceSize</key>
			<string>{43,41}</string>
			<key>textureRect</key>
			<string>{{46,168},{43,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>InGamePauseButton0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{2,212},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>TribuneFinal0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{283,97}</string>
			<key>spriteSourceSize</key>
			<string>{283,97}</string>
			<key>textureRect</key>
			<string>{{563,2},{283,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ach_icon0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,55}</string>
			<key>spriteSourceSize</key>
			<string>{54,55}</string>
			<key>textureRect</key>
			<string>{{673,161},{54,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ball_title0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{39,39}</string>
			<key>spriteSourceSize</key>
			<string>{39,39}</string>
			<key>textureRect</key>
			<string>{{254,214},{39,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bg0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{10,10}</string>
			<key>textureRect</key>
			<string>{{593,210},{10,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>black0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{551,210},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>btn_bg0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,62}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{134,94},{62,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>btn_blue_arrow0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,55}</string>
			<key>spriteSourceSize</key>
			<string>{54,55}</string>
			<key>textureRect</key>
			<string>{{729,161},{54,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>btn_credits0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,40}</string>
			<key>spriteSourceSize</key>
			<string>{30,40}</string>
			<key>textureRect</key>
			<string>{{984,212},{30,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>close0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{2,168},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fb_icon0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{848,2},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>iconPl0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,33}</string>
			<key>spriteSourceSize</key>
			<string>{25,33}</string>
			<key>textureRect</key>
			<string>{{295,214},{25,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>lead_icon0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{66,47}</string>
			<key>spriteSourceSize</key>
			<string>{66,47}</string>
			<key>textureRect</key>
			<string>{{551,161},{66,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>logo_game0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{559,90}</string>
			<key>spriteSourceSize</key>
			<string>{559,90}</string>
			<key>textureRect</key>
			<string>{{2,2},{559,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>quad_blue0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{4,4}</string>
			<key>spriteSourceSize</key>
			<string>{4,4}</string>
			<key>textureRect</key>
			<string>{{551,154},{4,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tex_blue0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,72}</string>
			<key>spriteSourceSize</key>
			<string>{64,72}</string>
			<key>textureRect</key>
			<string>{{848,88},{64,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tex_dark_blue0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,72}</string>
			<key>spriteSourceSize</key>
			<string>{64,72}</string>
			<key>textureRect</key>
			<string>{{914,88},{64,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tex_green0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,72}</string>
			<key>spriteSourceSize</key>
			<string>{64,72}</string>
			<key>textureRect</key>
			<string>{{2,94},{64,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tex_navy0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{89,211},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tex_yellow0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,72}</string>
			<key>spriteSourceSize</key>
			<string>{64,72}</string>
			<key>textureRect</key>
			<string>{{68,94},{64,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tex_yellow_fill0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,50}</string>
			<key>spriteSourceSize</key>
			<string>{48,50}</string>
			<key>textureRect</key>
			<string>{{934,162},{48,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tw_icon0000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{934,2},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>interface.png</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>interface.png</string>
	</dict>
</dict>
</plist>
